.login-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f5f7fa;
}

.login-box {
  background: white;
  padding: 30px 40px;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
}




.login-box h2 {
  margin-bottom: 20px;
  color: #333;
}

.login-box input {
  display: block;
  width: 100%;
  margin-bottom: 15px;
  padding: 10px 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
}

.login-box input:focus {
  border-color: #007bff;
  outline: none;
}

.login-box button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 5px;
}




.login-box button:hover {
  background-color: #0056b3;
}

.register-text {
  margin-top: 15px;
  font-size: 14px;
}

.register-text a {
  color: #007bff;
  text-decoration: none;
}

.register-text a:hover {
  text-decoration: underline;
}
